@using Microsoft.AspNetCore.Http.Features
@using static Internify.Common.GlobalConstants;

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <section id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
        <p>@CookiesConsent <a asp-controller="Home" asp-action="Privacy">Learn More</a></p>
        <button type="button" class="btn btn-primary rounded" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">Accept</span>
        </button>
    </section>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
				var cookieContainer = document.querySelector("#cookieConsent");
				cookieContainer.remove();
            }, false);
        })();
    </script>
}