<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Internify</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
        <section class="container-fluid">

            <a class="container-nav-title-content display-2 p-2" asp-area="" asp-controller="Home" asp-action="Index">Internify</a>

            <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <section class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                <article class="navbar-nav flex-grow-1 nav ml-auto justify-content-center align-items-center">
                    <a class="nav-item nav-link text-dark h5 mx-2 p-3 border border-dark rounded" asp-area="" asp-controller="Internship" asp-action="All">Internships</a>
                    <a class="nav-item nav-link text-dark h5 mx-2 p-3 border border-dark rounded" asp-area="" asp-controller="Company" asp-action="All">Companies</a>
                    <a class="nav-item nav-link text-dark h5 mx-2 p-3 border border-dark rounded" asp-area="" asp-controller="Candidate" asp-action="All" asp-route-currentPage="1">Candidates</a>
                    <a class="nav-item nav-link text-dark h5 mx-2 p-3 border border-dark rounded" asp-area="" asp-controller="University" asp-action="All" asp-route-currentPage="1">Universities</a>
                    <a class="nav-item nav-link text-dark h5 mx-2 p-3 border border-dark rounded" asp-area="" asp-controller="Home" asp-action="About">About</a>
                </article>

                <partial name="_LoginPartial" />
            </section>
        </section>
    </nav>

    <section class="container">
        @if (TempData.ContainsKey(GlobalMessageKey))
        {
            <section class="alert alert-success text-center" role="alert">
                @TempData[GlobalMessageKey]
            </section>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <partial name="_CookieConsentPartial" />
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>