<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Internify</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/nav.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
    <header class="container-header">
        <nav class="container-header-nav">
            <section>
                <a class="container-nav-title-content" asp-area="" asp-controller="Home" asp-action="Index">Internify</a>
            </section>
            <section>
                <article class="container-nav-menu-content">
                    <a href="/Internships/All">Internships</a>
                    <a href="/Companies/All">Companies</a>
                    <a href="/Candidates/All">Candidates</a>
                    <a href="/Universities/All">Universities</a>
                    <a href="/Home/About">About</a>
                    <a href="/Users/Select" class="container-nav-menu-content-auth-btn">
                        <i class="far fa-user fa-2x"></i>
                    </a>
                </article>
            </section>
        </nav>
    </header>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
