@using Microsoft.AspNetCore.Identity
@using Internify.Data.Models;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav justify-content-center align-items-center">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (!User.IsAdmin()
        &&  !User.IsCandidate()
        && !User.IsCompany()
        && !User.IsUniversity())
        {
            <a class="nav-item nav-link text-dark h4 mx-3" asp-area="" asp-controller="Home" asp-action="SelectRole">
                <i class="far fa-user fa-2x"></i>
            </a>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark h4" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark h4" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
