@{
    ViewData["Title"] = "Home";
}

<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

<section class="container-home-main">
        <p class="container-home-main-title">Find the best intern(ship).</p>
        <p class="container-home-main-subtitle">Internify is a platform where candidates can search and apply for internships posted by companies. Furthermore, each university can endorse its alumni and increase their chances of hiring.</p>
        <section class="container-home-main-services">
            <article class="container-home-main-services-card">
                <h2>Candidates</h2>
                <img src="./images/avatar.png" alt="internships-logo" >
                <p>As a Candidate, you can apply for internships and be part of your university's alumni.</p>
            </article>
            <article class="container-home-main-services-card">
                <h2>Companies</h2>
                <img src="./images/company.jpg" alt="internships-logo" >
                <p>Register your Company, post your internships and articles.</p>
            </article>
            <article class="container-home-main-services-card">
                <h2>Universities</h2>
                <img src="https://media.istockphoto.com/vectors/color-logo-of-the-school-vector-id1150645589?k=20&m=1150645589&s=170667a&w=0&h=zDtwvo5xUdvWYpIiFH2xaSIXPypU7Y4JGQ6W5wQJSnc=" alt="internships-logo" >
                <p>Endorse your alumni and let your University become part of Internify.</p>
            </article>
        </section>
    </section>