@{
    ViewData["Title"] = "Select Role";
}

<section class="text-center">
    <a class="mx-3" asp-area="" asp-controller="Candidate" asp-action="Become">Become a Candidate.</a>
    <a class="mx-3" asp-area="" asp-controller="Company" asp-action="Register">Register your Company.</a>
    <a class="mx-3" asp-area="" asp-controller="University" asp-action="Register">Register your University.</a>
</section>