*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: #333333;
    background: #00ffd9;
}

a:hover {
    text-decoration: none;
    color: #00ffd9;
}

.container-nav-title-content {
    font-weight: bold;
    color: #00ffd9;
    text-decoration: none;
}

.container-nav-menu-content-link {
    border: 2px solid #333333;
    border-radius: 3px;
    transition: .5s ease;
}

.container-nav-menu-content-link:hover {
    border: 2px solid #00ffd9;
    transition: .5s ease;
}