*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: black;
    background: #00ffd9;
}

a:hover {
    text-decoration: none;
    color: #00ffd9;
}

.container-nav-title-content {
    font-weight: bold;
    color: #00ffd9;
    text-decoration: none;
}